<% content_for :body_content_left do %>
  <ul id="songs">
    <% @songs.each do |song| %>
      <li id="track">
        <%= link_to song.title, song_url(song) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
